.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.read-btn {
  padding: 13px 20px;
  background: repeating-linear-gradient(
                  75deg,
                  rgba(#30123b, .4),
                  rgba(#30123b, .4) 5px,
                  rgba(#36214e, .4) 5px,
                  rgba(#36214e, .4) 10px
  );
  color: $white;
  text-transform: uppercase;
  border: 1px solid $white;
}

.toggle-panel-btn {
  position: absolute;
  cursor: pointer;
  width: 33px;
  height: 33px;
  background: rgba($dark, .8);

  &:before, &:after {
    content: '';
    width: 25px;
    height: 2px;
    background: $light-grey;
    display: block;
  }
  &:before {
    transform: rotate(152deg) translate(7px, -19px);
  }
  &:after {
    transform: rotate(220deg) translate(-6px, -1px);
  }

  @media all and (max-width: 1500px){
    display: none;
  }
}


